<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadeen.lws.test001" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="test wallpaper 001"
        android:theme="@style/AppTheme" >
		<service
            android:name=".MainActivity"
            android:enabled="true"
            android:label="test wallpaper 001"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my" >
            </meta-data>
        </service>
    </application>
	<uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

</manifest>
